@{
    ViewBag.Title = "Goals";
}
<div class="col-md-12">
    <h2>My Goals</h2>
</div>
<div class="col-md-6">
    <div class="row">
        <div class="col-md-3">
            Category
        </div>
        <div class="col-md-3">
            <input type="text" name="txtCategory" value="">
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            Number
        </div>
        <div class="col-md-3">
            <input type="text" name="txtNumber" value="">
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Add New Goal</a>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Date Set</th>
                    <th>Category</th>
                    <th>Number</th>
                    <th>Achieved</th>
                    <th>Date Achieved</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>5/23/2018</td>
                    <td>Weight Loss</td>
                    <td>215</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>5/01/2018</td>
                    <td>Increase Bench Press</td>
                    <td>225</td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
