@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">           
            <li><a class="btn btn-sm btn-outline-info btn-outline-light my-2 my-sm-0" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    } 
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <button class="btn btn-sm btn-outline-info btn-outline-light my-2 my-sm-0" type="submit">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</button>
        </li>
    </ul>
}
