@model IEnumerable<ExerciseProgram.Models.ViewModels.ProgramViewModel>

@{
    ViewBag.Title = "Create New Workout";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        $("#btnAddProgram").click(function () {
            alert("test");
        });

        $("#btnBasicProgramInformation").click(function () {

            $.ajax({
                url: '/ExerciseProgram/CreateExerciseProgram',
                dataType: "json",
                type: "POST",
                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                data: {
                    Name: $("#WorkoutNameTxt").val(),
                    Description: $("#WorkoutNameTxt").val(),
                    StartDate: $("#dtStartDate").val(),
                    DurationInDays: $("#txtDurationInWeeks").val()
                },
                async: true,
                processData: true,
                cache: false
            });

            $("#mdlNewExerciseForProgram").modal();
        });

        $("#btnCancelCreateProgram").click(function () {
            $("#mdlCancelNewProgram").show();
        });

        $("#btnDismissProgramCancel").click(function () {
            $("#mdlCancelNewProgram").hide();
        });

        $("#btnConfirmProgramCancel").click(function () {
            $("#mdlCancelNewProgram").hide();
            $("#mdlNewProgram").hide();
        });

        $("#btnRecordWorkout").click(function () {
            $.ajax({
                url: '/ExerciseProgram/GetExerciseListForProgram',
                dataType: "json",
                type: "GET",
                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                async: true,
                processData: true,
                cache: false
            });
            $("#divAddWorkout").show();
        });

        $("[name='btnViewProgram']").click(function () {

            var id = $(this).parent().parent().attr("id");

            $("#txtHidden").val(id)

            alert($("#txtHidden").val());

            $.ajax({
                url: '/ExerciseProgram/CreateExerciseProgram',
                dataType: "json",
                type: "POST",
                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                data: {
                    Name: $("#WorkoutNameTxt").val(),
                    Description: $("#WorkoutNameTxt").val(),
                    StartDate: $("#dtStartDate").val(),
                    DurationInDays: $("#txtDurationInWeeks").val()
                },
                async: true,
                processData: true,
                cache: false
            });
        });

    });
</script>
<div class="container border margin-top-10px">
    <div class="row">
        <div class="col">
            <h5>
                View and start a program.
            </h5>
            <text>Can't find what you're looking for?</text>
            <text> Create your own!</text>
        </div>
    </div>
</div>

<div class="container border margin-top-10px">
    <div class="row">
        <div class="col">
            <table class="table table-hover table-responsive-sm">
                <thead class="thead-light table">
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Emphasis
                        </th>
                        <th>
                            Days
                        </th>
                        <th>
                            Weeks
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var program in Model)
                    {
                        <tr id="tr @program.Id">
                            <td>
                                @program.Name
                            </td>
                            <td>
                                Strength
                            </td>
                            <td>
                                @program.DaysPerWeek
                            </td>
                            <td>
                                @{var programLength = program.LengthInDays / 7;}
                                @programLength
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td>
                            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                <div class="btn-group mr-2" role="group" aria-label="First group">
                                    <button id="btnCreateProgram" class="btn btn-primary btn-sm">Create Program</button>
                                </div>

                            </div>
                        </td>
                        <td colspan="12">
                            <div class="btn-group mr-2 float-right" role="group" aria-label="Second group">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<div class="container border margin-top-10px">
    <div class="row">
        <div class="col">
            <h5>
                Filter
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-hover table-responsive-sm">
                <thead class="thead-light table">
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Emphasis
                        </th>
                        <th>
                            Days
                        </th>
                        <th>
                            Weeks
                        </th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td>
                                <input placeholder="Search..." type="text" />                               
                            </td>
                            <td>
                                <select>
                                    <option>
                                        Strength
                                    </option>
                                    <option>
                                        Cardio
                                    </option>
                                    <option>
                                        Full Body
                                    </option>
                                </select>
                            </td>
                            <td>
                                <input type="number" />
                            </td>
                            <td>
                                <input type="number" />
                            </td>
                        </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>
                            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                <div class="btn-group mr-2" role="group" aria-label="First group">
                                    <button id="btnApplyFilter" class="btn btn-primary btn-sm">Apply Filter</button>
                                </div>

                            </div>
                        </td>                      
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<div class="margin-top-10px">
    @Html.Partial("~/Views/ExerciseProgram/_ExerciseProgramDetail.cshtml", Model.Where(x => x.Id == 1).First())
</div>


