@model IEnumerable<ExerciseProgram.Models.ViewModels.ExerciseProgramViewModel>

@{
    ViewBag.Title = "Create New Workout";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#btnAddNewExercise").click(function () {
            alert("test");
        });

        $("#btnAddNewExerciseProgram").click(function () {
            alert("test program");
        });

        $("#ExerciseSelect").prop("disabled", true);

        $("#btnLoadNewProgram").click(function () {
            $("#mdlNewProgram").modal();
        });

        $("#btnBasicProgramInformation").click(function () {

            $.ajax({
                url: '/ExerciseProgram/CreateExerciseProgram',
                dataType: "json",
                type: "POST",
                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                data: {
                    Name: $("#WorkoutNameTxt").val(),
                    Description: $("#WorkoutNameTxt").val(),
                    StartDate: $("#dtStartDate").val(),
                    DurationInDays: $("#txtDurationInWeeks").val()
                },
                async: true,
                processData: true,
                cache: false
            });

            $("#mdlNewExerciseForProgram").modal();
        });

        $("#btnCancelCreateProgram").click(function () {
            $("#mdlCancelNewProgram").show();
        });

        $("#btnDismissProgramCancel").click(function () {
            $("#mdlCancelNewProgram").hide();
        });

        $("#btnConfirmProgramCancel").click(function () {
            $("#mdlCancelNewProgram").hide();
            $("#mdlNewProgram").hide();
        });
    });
</script>

<div class="jumbotron col-md-12 row">
    <h2>My Current Program</h2>
    <div class="container">
        @using (Html.BeginForm())
        {
            <table class="table table-hover">
                <tr>
                    <th>
                        Program Name
                    </th>
                    <th>
                        Days Per Week
                    </th>
                    <th>
                        Weeks
                    </th>
                    <th>
                        Start Date
                    </th>
                    <th>
                        End Date
                    </th>
                </tr>
                <tbody>
                    <tr>
                        <td>
                            <input type="text" readonly value=@Model.Select(x => x.Name).FirstOrDefault() class="form-control" />
                        </td>
                        <td>
                            <input type="text" readonly value=@Model.Select(x => x.DaysPerWeek).FirstOrDefault() class="form-control" />
                        </td>
                        <td>
                            <input type="text" readonly value=@Model.Select(x => x.DurationInDays).FirstOrDefault() class="form-control" />
                        </td>
                        <td>
                            <input type="text" readonly value=@Model.Select(x => x.StartDate).FirstOrDefault() class="form-control" />
                        </td>
                        <td>
                            <input type="text" readonly value=@Model.Select(x => x.EndDate).FirstOrDefault() class="form-control" />
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary" id="btnViewCurrentWorkout">View / Edit</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        }
    </div>
    <button type="button" class="btn btn-primary" id="btnRecordWorkout">Record Workout</button>
</div>

<div class="jumbotron col-md-12 row">
    <h2>All Programs</h2>
    <div class="container">
        @using (Html.BeginForm())
        {
            <table class="table table-hover">
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Days Per Week
                    </th>
                    <th>
                        Weeks
                    </th>
                </tr>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            <input type="text" readonly value=@item.Name class="form-control" />
                        </td>
                        <td>
                            <input type="text" readonly value=@item.Description class="form-control" />
                        </td>
                        <td>
                            <input type="text" readonly value=@item.DaysPerWeek class="form-control" />
                        </td>
                        <td>
                            <input type="text" readonly value=@item.DurationInDays class="form-control" />
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
            <div>
                <ul class="pager">
                    <li><a href="#">|&laquo;</a></li>
                    <li><a href="#">&laquo;</a></li>
                    <li><a href="#">&raquo;</a></li>
                    <li><a href="#">&raquo;|</a></li>
                </ul>
            </div>
        }
    </div>
    <button type="button" class="btn btn-primary" id="btnLoadNewProgram">Create New Program</button>
</div>
<div class="container">
    <div class="modal" id="mdlNewProgram" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>Create New Program</h4>
                </div>
                <div class="modal-body">
                    @{Html.RenderPartial("_NewExerciseProgram", Model);}
                </div>
                <div class="modal-footer">
                    <input type="submit" id="btnBasicProgramInformation" value="Next &raquo;" class="btn btn-primary pull-left" data-dismiss="modal" />
                    <input type="submit" id="btnCancelCreateProgram" value="Cancel" class="btn btn-warning pull-right" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="modal" id="mdlCancelNewProgram" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div><text class="text-danger">Are you sure? All data will be lost.</text></div>
                    <button type="button" id="btnDismissProgramCancel" class="btn btn-primary" data-dismiss="modal">No</button>
                    <button type="button" id="btnConfirmProgramCancel" class="btn btn-warning">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="modal" id="mdlNewExerciseForProgram" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>Add Exercise</h4>
                </div>
                <div class="modal-body" style="padding:40px 50px;">
                    @{
                        var newExercises = new List<ExerciseProgram.Models.ViewModels.ExerciseViewModel>();
                        Html.RenderPartial("~/Views/ExerciseProgram/_NewExerciseForProgram.cshtml", newExercises);


                    }
                </div>
                <div class="modal-footer">
                    <input type="submit" id="btnAddExerciseBack" value="&laquo; Back" class="btn btn-primary pull-left" />
                    <input type="submit" id="btnAddExerciseSubmit" value="Add Exercise" class="btn btn-warning pull-right" />
                </div>
            </div>
        </div>
    </div>
</div>

@*ToDo: Add Review Modal w/ Grid and Back and Confirm/Submit buttons*@

