@model IEnumerable<ExerciseProgram.Models.ViewModels.ProgramViewModel>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<div class="container">
    <div id="divRecordWorkout" class="margin-top-20px container border background-white-smoke">
        <div class="row margin-top-20px margin-bottom-20px">
            <div class="col">
                <h4>Workout History</h4>
                <hr />
            </div>
        </div>
        <div class="row margin-top-20px margin-bottom-20px">
            <div class="col">
                <b>Current Workout</b>
            </div> <br />
            <div class="col">
                @{
                    var todaysWorkoutName = $"{DateTime.Now.ToShortDateString()}";
                }
                <h6>
                    <a id="btnStartNewWorkout" class="btn-link" href="~/ExerciseProgram/CreateExerciseProgram">@todaysWorkoutName</a>
                </h6> <br />
            </div>
        </div>
        <div class="row margin-top-20px margin-bottom-20px">
            <div class="col">
                <b>Go to Previous</b>
            </div> <br />
            <div class="col">
                <select id="slPreviousProgram" class="form-control">
                    <option></option>
                    @foreach (var program in Model)
                    {
                        <option value=@program.Id>
                            @program.Name
                        </option>
                    }
                </select>
            </div>
        </div>
        <div class="row margin-top-20px margin-bottom-20px">
            <div class="col">
                <b>Start Workout</b>
            </div> <br />
            <div class="col">
                <select id="slPreviousProgram" class="form-control">
                    <option></option>
                    @foreach (var program in Model)
                    {
                        <option value=@program.Id>
                            @program.Name
                        </option>
                    }
                </select>
            </div>
        </div>
        <hr />
        <div class="row margin-top-20px margin-bottom-20px">
            <div class="col">
                @* <a id="btnStartNewWorkout" class="btn btn-primary btn-sm" href="~/ExerciseProgram/CreateExerciseProgram">Start New Workout</a>*@
            </div>
        </div>
    </div>

</div>

<script>
    $(document).ready(function () {
        $("#slPreviousProgram").change(function () {
            var programId = $(this).val();
            $(location).attr('href', '/ExerciseProgram/ExerciseProgramDetail/' + programId);
        });
    });
</script>