body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: silver;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.margin-top-20px{
    margin-top: 20px;
}

.margin-bottom-20px {
    margin-bottom: 20px;
}

.padding-top-10px {
    padding-top: 10px;
}

.padding-bottom-10px {
    padding-bottom: 10px;
}

.padding-right-10px {
    padding-right: 10px;
}

.table-rounded-border {
    border: 10px solid black;
}

.tr-day-of-week {
    color: white !important;
    background-color: #333333 !important;
}

.input-search-grid {
    width: 50px;
}

.workout-day-card-header {

}

.workout-day-card-header:hover {
    background-color: lightblue !important;
}

.checked {
    color: orange !important;
}

.yellow-paper-background {
    background-color: lightgoldenrodyellow !important;
    font: italic !important;
}

.background-white-smoke {
    background-color: whitesmoke;
}

.background-white {
    background-color: white;
}

.rest-day {
    color: silver;
}

.rest-day:hover{
    cursor: not-allowed;
}

.ddl-workout-week{
    font: bold !important;
    color: darkblue !important;    
}

.input-pageXofY {
    border: none !important;
    background-color: #dee2e6 !important;
    width: 100px;
    font: bold;
    text-align: center;
}

.input-pending-save {
    border-color: red;
    color: red;
}

.td-place-holder {
    color: whitesmoke;
}

.input-weight-used {
    width: 75px;
}

.btn-toolbar-width {
    width: 100px;
}

.btn-toolbar-width-large {
    width: 150px;
}

.btn-toolbar-width-medium {
    width: 125px;
}

.home-page-button {
    width: 200px;
}

.progam-id {
    cursor: pointer;
}

.exercise-set-header {
    background-color: darkgray !important;
}

.exercise-expand {
    color: #fff;
    background-color: #212529;
    border-color: #32383e;
    border: solid transparent;
    cursor: pointer;
    height: 10px;
}

.exercise-header-expand {
    cursor: pointer;
}

.btn-save-exercise {
    
}

.text-enabled {
    cursor: pointer;
}
.text-disabled {
    cursor: not-allowed;
    opacity: 0.1;
}