@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="container margin-top-20px">
    <div class="row align-items-center">
        <div class="col">
            <div class="jumbotron">
                <h3>
                    Sorry, an error occurred while processing your request.
                </h3>
                <h6>@Html.ActionLink("Home", "Index", "Home")</h6>
            </div>
        </div>
    </div>
</div>

<div class="container margin-top-20px">
    <div class="row align-items-center">
        <div class="col">
            <div class="jumbotron">
                <h4>
                    Application Error:
                </h4>
                @Model.Exception
            </div>
        </div>
    </div>
</div>