@{
    ViewBag.Title = "My Workout";
}

<div class="container margin-top-10px">
    <div class="row align-items-center">
        <div class="col">
            <div class="jumbotron">
                <h2>
                    Workout for @DateTime.Today.DayOfWeek,
                    @System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(DateTime.Today.Month)
                    @DateTime.Today.Day
                    @DateTime.Today.Year
                </h2>
                <p>
                    No workout scheduled.
                </p>
                <a class="btn btn-outline-primary" href="~/ExerciseProgram/ExercisePrograms">View All Programs. &raquo;</a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="jumbotron">
                <h2>
                    Current Program
                </h2>
                <p>
                    No workout scheduled.
                </p>
                <a class="btn btn-outline-primary" href="~/ExerciseProgram/ExercisePrograms">View All Programs. &raquo;</a>                
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="jumbotron">
                <h2>
                    Goal Progression
                </h2>
                <p>
                    No goals set.
                </p>
                <a class="btn btn-outline-primary" href="~/ExerciseProgram/ExercisePrograms">Set a new goal. &raquo;</a>
            </div>
        </div>
    </div>
</div>