@{
    ViewBag.Title = "My Workout";
}

<div class="container margin-top-10px">
    <div class="row align-items-center">
        <div class="col">
            <div class="jumbotron">
                <h2>
                    Workout for @DateTime.Today.DayOfWeek,
                    @System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(DateTime.Today.Month)
                    @DateTime.Today.Day
                    @DateTime.Today.Year
                </h2>
                <p>Time to rest, no workout scheduled.</p>
                <p><a class="btn btn-outline-primary" href="~/ExerciseProgram/ExercisePrograms">View All Programs &raquo;</a></p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="jumbotron">
                <h2>
                    Current Program
                </h2>
                <p>
                    Nothing to show. Ready when you are!
                </p>
                <p><a class="btn btn-outline-primary" href="~/ExerciseProgram/ExerciseProgram">Schedule Workout  &raquo;</a></p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="jumbotron">
                <h2>
                    Goal Progression
                </h2>
                <p>
                    See progress based on <b>your</b> goals!
                </p>
                <p><a class="btn btn-outline-primary" href="~/Exercise/Exercise">Set Goals  &raquo;</a></p>
            </div>
        </div>
    </div>
</div>