@{
    ViewBag.Title = "My Workout";
}

<div class="jumbotron">
    <h2>
        Workout for @DateTime.Today.DayOfWeek,
        @System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(DateTime.Today.Month)
        @DateTime.Today.Day
        @DateTime.Today.Year
    </h2>
    <p class="lead">Relax, no workout has been scheduled for today.</p>
    <p><a href="~/Exercise/Exercise" class="btn btn-primary">Show More &raquo;</a></p>
</div>


<div class="jumbotron col-md-6">
    <h2>This Week</h2>
    <p>
        No workouts to show, ready when you are!
    </p>
    <p><a class="btn btn-primary" href="~/Exercise/Exercise">Show More &raquo;</a></p>
</div>
<div class=jumbotron col-md-6">
    <h2>Goal Summary</h2>
    <p>No goals here, time to set some!</p>
    <p><a class="btn btn-primary" href="~/Goals/Goals">Show More &raquo;</a></p>
</div>