@{
                /**/

                ViewBag.Title = "My Workout";
}

<div class="container">
    <div class="container border margin-top-20px background-white-smoke">
        <div class="row margin-top-20px">
            <div class="col-sm-offset-2 col-sm-12 margin-bottom-20px">
                <h4> @DateTime.Today.DayOfWeek</h4> <h6>@DateTime.Today.ToString("MM/dd/yyyy")</h6>
                <p>
                    No workout scheduled.
                </p>
                <a class="btn btn-outline-primary" href="~/ExerciseProgram/ExercisePrograms">View All Programs. &raquo;</a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="container border margin-top-20px background-white-smoke">
        <div class="row margin-top-20px">
            <div class="col-sm-offset-2 col-sm-12 margin-bottom-20px">
                <h4>
                    History
                </h4>
                <p>
                    Nothing to show.
                </p>
                <a class="btn btn-outline-primary" href="~/ExerciseProgram/ExercisePrograms">Set a new goal. &raquo;</a>
            </div>
        </div>
    </div>
</div>
